{
    -fx-text-fill: #FFFFFF
;
}

.jfx-snackbar-content {
    -fx-background-color: #FFFFFF;
}

.jfx-snackbar-toast {
    -fx-text-fill: #616161;
}

AnchorPane {
    -fx-background-color: #757575;
}

JFXToolbar, JFXTextArea, JFXButton {
    -fx-background-color: #616161;
}