.jfx-snackbar-content {
    -fx-background-color: #616161;
}

.jfx-snackbar-toast {
    -fx-text-fill: #FFFFFF;
}

AnchorPane {
    -fx-background-color: #CFD8DC;
}

JFXToolbar, JFXTextArea, JFXButton {
    -fx-background-color: #F5F5F5;
}

JFXTreeView {
	 -fx-background-color: none;
}